* {
    box-sizing: border-box;
}

.outer-container {
    border: 2px solid green;
}

.inner-box {
    border: 2px solid red;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;

    /* ASCII Графіка - можливість графічно відобразитти сітку та присвоїти всім дочірнім елементам імена. При використанні grid-template-area слід враховувати саму сітку, кількість рядків та колонок */
    /* якщо нам потрібно залишити одну комірку пустою то замість значененя просто ставим крапочку */
    grid-template-areas: 
    'b1 b2 b3'
    'b4 b5 b5'
    'b6 b6 b6';

}

.grid-child:nth-child(1) {
    grid-area: b1;
}

.grid-child:nth-child(2) {
    grid-area: b2;
}

.grid-child:nth-child(3) {
    grid-area: b3;
}

.grid-child:nth-child(4) {
    grid-area: b4;
}

.grid-child:nth-child(5) {
    grid-area: b5;
}

.grid-child:nth-child(6) {
    grid-area: b6;
}






